.add-post {
    margin-bottom: 3rem;
    padding: 1.5rem 2rem;

    background-color: $secondary;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba($color: $black, $alpha: .45);

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: flex;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 34px;

    border: none;
    background: transparent;
    resize: none;
    overflow: hidden;

    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    color: $white;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__form-actions {
    width: 120px;
    flex-shrink: 0 ;
    display: flex;
    justify-content: flex-end;

    @include breakpoint($mobile-bp) {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send{
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .2s linear;

    @include breakpoint($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__file {
    background: #ebebeb
    url("../images/photo-btn.svg") center no-repeat;

    input {
        display: none;
    }

    &:hover {
        background-color: darken($color: #EBEBEB, $amount: 5%);
    }
}

.add-post__send {
    margin-left: 1.5rem;
    background: $blue url("../images/send-btn.svg") center no-repeat;;

    font-size: 0;
    color: transparent;

    &:hover {
        background-color: darken($color: $blue, $amount: 5%);
    }
}